

.banner-div{
    background: url('https://photographer-portfolio-website-advance.vercel.app/static/media/banner-bg.bd7782d8b5405a4d62c3.png') fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

/* .banner-left {
    position: absolute;
    background: rgba(0, 0, 0, 0.822);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */